<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='../static/style.css'>
        <script src='../static/client.js'></script>
    </head>
    <body>
        <div>
            <div class='center'>
                <div class='title'>ArchiTech: International Architectural Style Recognition with Grad-CAM </div>
                <img id='logo' alt='ArchiTech Logo' src='/static/logo.png' height='150'>
                <div id='list'>
                    <p>Use images of the following list:</p>
                    <details>
                        <summary>Architecture Styles</summary>
                        <ul>
                            <li>Achaemenid</li>
                            <li>Amazigh</li>
                            <li>American Craftsman</li>
                            <li>American Foursquare</li>
                            <li>Ancient Egyptian</li>
                            <li>Art Deco</li>
                            <li>Art Nouveau</li>
                            <li>Balinese</li>
                            <li>Baroque</li>
                            <li>Bauhaus</li>
                            <li>Beaux-Arts</li>
                            <li>Brutalist</li>
                            <li>Buddhist</li>
                            <li>Byzantine</li>
                            <li>Chicago School</li>
                            <li>Colonial</li>
                            <li>Deconstructivism</li>
                            <li>Dravidian</li>
                            <li>Edo Period</li>
                            <li>Edwardian</li>
                            <li>Georgian</li>
                            <li>Gothic</li>
                            <li>Greek Revival</li>
                            <li>Hausa</li>
                            <li>International</li>
                            <li>Jain</li>
                            <li>Joseon Dynasty</li>
                            <li>Khmer</li>
                            <li>Maya</li>
                            <li>Minangkabau</li>
                            <li>Moorish</li>
                            <li>Mughal</li>
                            <li>Novelty</li>
                            <li>Ottoman</li>
                            <li>Palladian</li>
                            <li>Postmodern</li>
                            <li>Pueblo</li>
                            <li>Qing Dynasty</li>
                            <li>Queen Anne</li>
                            <li>Romanesque</li>
                            <li>Russian Revival</li>
                            <li>Safavid</li>
                            <li>Stalinist</li>
                            <li>Swahili</li>
                            <li>Tudor Revival</li>
                        </ul>
                    </details>
                </div>
                <div class='content'>
                    <div class='no-display'>
                        <input id='file-input'
                               class='no-display'
                               type='file'
                               name='file'
                               accept='image/*'
                               onchange='showPicked(this)'>
                    </div>
                    <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
                    <div class='upload-label'>
                        <label id='upload-label'>No file chosen</label>
                    </div>
                    <div>
                        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
                    </div>
                    <div class='result-label'>
                        <label id='result-label'></label>
                    </div>
                    <div>
                        <img id="result-image">
                    </div>
                    <div class='analyze'>
                        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
