* {
    font-family: 'Roboto', sans-serif;
    color: rgb(254,254,254);
}

body {
    background-color: rgb(4,27,38);
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 36px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: rgb(254,254,254);
}

.content {
    margin-top: 2em;
}

.analyze {
    margin-top: 1em;
}

.upload-label {
    padding: 10px;
    font-size: 15px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

button.choose-file-button {
    width: 220px;
    height: 50px;
    border: solid 1px rgb(140,178,93);
    border-radius: 10px;
    background-color: rgb(140,178,93);
    font-size: 20px;
    color: #ffffff;
}

button.analyze-button {
    width: 220px;
    height: 50px;
    border: solid 1px rgb(89,178,199);
    border-radius: 10px;
    background-color: rgb(89,178,199);
    font-size: 20px;
    color: #ffffff;
}

button:focus {
    outline: 0;
}

button:hover {
    cursor: pointer;
}

#list {
    font-size: 20px;
}

details:hover {
    cursor: pointer;
}

ul li {
    list-style: none;
    font-size: 18px;
}

